<<<<<<< 4358a4a797201053d5944bebb9592a3d258b6163
<li>
  <%= link_to location.name , location %>
</li>
<p></p>
<%= location.latitude %>
=======
<p></p>
  <%= link_to location.name , location %>
<p></p>
<%= location.latitude %>,
>>>>>>> Develop weather API and link to current site structure
<%= location.longitude %>
<p></p>
