<%= @locations.first.name %>, <%= @locations.first.latitude %>, <%= @locations.first.longitude%>


<% provide(:title, 'All locations) %>
<h1>All locations</h1>

<%= will_paginate %>

<ul class="locations">
  <%= render @locations %>
</ul>

<%= will_paginate %>
