<%= provide(:title, @location.name) %>
<h1>
  <%= render partial: 'show', locals: {location: @location}%>
</h1>
<h2>
    Weather Summary: <%= @weather_recording.current_summary%>
<p> </p>
    Temperature: <%= @weather_recording.temp_F%> oF
</h2>
<p>
  <%= link_to "Edit", edit_location_path(@location) %>
  <%= link_to "Delete", @location, method: :delete, data: { confirm: "Are you sure?"} %>
</p>
